body {
  background: #20406f;
}

.container {
  max-width: 440px;
}

input[type='text'],
input[type='text']:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.todos li {
  background: #e9cf87;
  color: rgb(54, 51, 51);
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
